@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0; /*去掉外边距*/
    padding: 0; /*去掉外内边距*/
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none; /*去掉外边蓝边框*/
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none; /*防止文本域拖动*/
}

img { /*  去掉图片低测默认的3像素空白缝隙*/
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*"\5b8b\4f53" Unicode表示宋体*/
    color: #666;
    background: #fff
}

/*双伪元素清除浮动法*/
.clearfix:before, .clearfix:after { /*清除浮动*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

/*伪元素清除浮动法*/
/*.clearfix:after {
    content:"";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}*/

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%; /*让其字体大小跟父亲一样大*/
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w { /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*头部导航开始*/
.shortcut {
    height: 30px;
    background-color: #f1f1f1;
    width: 100%;
    font: 400 12px/30px "宋体";
}

.dt, .shortcut .openDown {
    position: relative;
    height: 30px;
    padding: 0 20px 0 10px;
}

.dt i, .openDown i {
    position: absolute;
    width: 15px;
    top: 13px;
    right: 4px;
    height: 7px;
    line-height: 7px;
    overflow: hidden;
}

.dt s, .openDown s {
    position: absolute;
    top: -7px;
    left: 0;
    height: 15px;
    line-height: 15px;
}

.fr li {
    float: left;
    padding: 0 10px;
}

.fr .line {
    height: 12px;
    width: 1px;
    background-color: #ddd;
    margin-top: 9px;
    padding: 0;
}

.shortcut .jd-tel {
    padding: 0 20px;
}

.tel {
    position: absolute;
    background: url(../img/sprite.png) no-repeat;
    width: 15px;
    height: 20px;
    top: 5px;
    left: 5px;
}

.topbanner {
    background-color: #8E18D4;
}

.close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(../img/close.png) no-repeat;
}

.topbanner .w {
    position: relative;
}

.close-banner:hover {
    background-position: bottom;
}

.logo {
    position: relative;
    width: 360px;
    height: 100px;
    float: left;
}

.logo .logo-icon {
    display: block;
    width: 270px;
    height: 60px;
    margin-top: 25px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -2000em;
}

.logo div {
    position: absolute;
    top: 10px;
    left: 168px;
}

.search {
    margin-top: 25px;
    width: 538px;
    height: 36px;
    float: left;
}

.search input {
    width: 450px;
    height: 32px;
    padding-left: 4px;
    border: 2px solid #B61D1D;
    font: 14px/32px "微软雅黑";
    color: #666;
    float: left;
}

.search button {
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    font: 16px/36px "微软雅黑";
    color: #fff;
    cursor: pointer;
    float: left;
}

.shopping-car {
    float: right;
    height: 30px;
    width: 98px;
    margin-top: 25px;
    font: 14px/34px "微软雅黑";
    border: 2px solid #f4f4f4;
    padding-left: 36px;
    position: relative;
}

.icon1 {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 16px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat -1px -59px;
}

.icon2 {
    position: absolute;
    right: 10px;
    font: 200 12px/34px "宋体";
}

.icon3 {
    position: absolute;
    width: 16px;
    height: 14px;
    top: -4px;
    background-color: #C81623;
    font: 10px/14px "微软雅黑";
    text-align: center;
    color: #FFFFFF;
    border-radius: 7px 7px 7px 0;
}

.hot-word-container {
    width: 538px;
    padding: 7px 0;
    float: left;
}

.hot-word-container .hot-word {
    margin-right: 6px;
}

/*主体*/
.jd-nav {
    width: 100%;
    height: 44px;
    border-bottom: solid 2px #b1191a;
}

.dropdown {
    width: 210px;
    height: 44px;
    padding: 0px 0px;
    float: left;
    position: relative;
    z-index: 10;
}

.dropdown dt {
    height: 44px;
}

.dropdown dt a {
    display: block;
    height: 44px;
    font: 15px/44px "微软雅黑";
    color: #FFFFFF;
    background: #b1191a;
    padding-left: 10px;
}

.dropdown dd {
    margin-top: 2px;
    height: 465px;
    background: #D60716;
}

.dropdown .items {
    height: 31px;
    padding-left: 10px;
    padding-right: 8px;
    font: 400 15px/31px "微软雅黑";
    color: #FFFFFF;
}

.dropdown p {
    float: left;

}

.dropdown span {
    float: right;
    font-size: 15px;
    font-weight: 600;
    font-family: "宋体";
}

.navItems {
    width: 680px;
    height: 44px;
    float: left;
}

.navItems li {
    float: left;
}

.navItems li a {
    padding: 0px 20px;
    font: 15px/44px "微软雅黑";
    color: #333333;
}

.navItems li.new {
    background: url(../img/new.jpg) no-repeat right top;
}

.navOther {
    width: 140px;
    height: 44px;
    background: no-repeat url(../img/bike.jpg);
    float: right;
}

.navOther a {
    display: block;
    height: 44px;
}

/*页尾*/
.slogan {
    height: 54px;
    position: relative;
    background-color: #f5f5f5;
    padding: 20px;
    clear: both;
    width: 100%;
}

.slogan .w {
    position: relative;
    margin: 0 auto;
}

.slogan span {
    position: absolute;
    top: 20px;
    width: 302px;
}

.slogen1 {
    left: 0px;
}

.slogen2 {
    right: 50%;
}

.slogen3 {
    left: 50%;
}

.slogen4 {
    right: 0px;
}

.service-content {
    padding: 20px 0;
    border-bottom: solid 1px #dedede;
}

.service-content dl {
    width: 198px;
    float: left;
}

.service-content dt {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
}

.service-content dd {
    position: relative;
    width: 100%;
}

.service-content .show-more {
    position: absolute;
    right: 0;
}

.copyright {
    padding: 20px 0px;
}

.copyright div {
    text-align: center;
}

.copyright p {
    display: inline;
    padding: 0px 6px;
}

.copyright .copyright-info {
    padding: 10px 0;
    font: 12px/16px "微软雅黑";
    color: #888888;
}

.copyright .copyright-author {
    width: 612px;
    margin: 0px auto;
}

.copyright .copyright-author a {
    float: left;
    display: inline-block;
    width: 103px;
    height: 32px;

}

.copyright .copyright-author a.last {
    width: 184px;
}


























