@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0; /*去掉外边距*/
    padding: 0; /*去掉外内边距*/
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none; /*去掉外边蓝边框*/
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none; /*防止文本域拖动*/
}

img { /*  去掉图片低测默认的3像素空白缝隙*/
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*"\5b8b\4f53" Unicode表示宋体*/
    color: #666;
    background: #fff
}

/*双伪元素清除浮动法*/
.clearfix:before, .clearfix:after { /*清除浮动*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

/*伪元素清除浮动法*/
/*.clearfix:after {
    content:"";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}*/

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%; /*让其字体大小跟父亲一样大*/
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w { /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*头部导航开始*/
.shortcut {
    height: 30px;
    background-color: #f1f1f1;
    width: 100%;
    font: 400 12px/30px "宋体";
}

.dt, .shortcut .openDown {
    position: relative;
    height: 30px;
    padding: 0 20px 0 10px;
}

.dt i, .openDown i {
    position: absolute;
    width: 15px;
    top: 13px;
    right: 4px;
    height: 7px;
    line-height: 7px;
    overflow: hidden;
}

.dt s, .openDown s {
    position: absolute;
    top: -7px;
    left: 0;
    height: 15px;
    line-height: 15px;
}

/*.dd {*/
/*top: 30px;*/
/*left: 0;*/
/*position: absolute;*/
/*width: 300px;*/
/*height: 136px;*/
/*background-color: pink;*/
/*}*/

.fr li {
    float: left;
    padding: 0 10px;
}

.fr .line {
    height: 12px;
    width: 1px;
    background-color: #ddd;
    margin-top: 9px;
    padding: 0;
}

.shortcut .jd-tel {
    padding: 0 20px;
}

.tel {
    position: absolute;
    background: url(../img/sprite.png) no-repeat;
    width: 15px;
    height: 20px;
    top: 5px;
    left: 5px;
}

.topbanner {
    background-color: #8E18D4;
}

.close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(../img/close.png) no-repeat;
}

.topbanner .w {
    position: relative;
}

.close-banner:hover {
    background-position: bottom;
}

.logo {
    position: relative;
    width: 360px;
    height: 100px;
    float: left;
}

.logo .logo-icon {
    display: block;
    width: 270px;
    height: 60px;
    margin-top: 25px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -2000em;
}

.logo div {
    position: absolute;
    top: 10px;
    left: 168px;
}

.search {
    width: 538px;
    height: 100px;
    float: left;
}

.search input {
    margin-top: 25px;
    width: 450px;
    height: 32px;
    padding-left: 4px;
    border: 2px solid #B61D1D;
    font: 14px/32px "微软雅黑";
    color: #666;
    float: left;
}

.search button {
    margin-top: 25px;
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    font: 16px/36px "微软雅黑";
    color: #fff;
    cursor: pointer;
    float: left;
}

.shopping-car {

}


























