/*搜索栏部分*/
.jd-search {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.search-container {
    height: 40px;
    background-color: rgba(201, 21, 35, .85);
    position: relative;
    z-index: 10;
}

.search-container > form {
    width: 100%;
    height: 40px;
    padding-left: 75px;
    padding-right: 55px;
    padding-top: 5px;
}

.search-container > form > input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding-left: 35px;
}

.search-container > .icon-logo {
    background-position: 0 -103px;
    width: 60px;
    height: 36px;
    display: block;

    position: absolute;
    top: 4px;
    left: 10px;
}

.search-container .icon-search {
    background-position: -60px -109px;
    width: 30px;
    height: 30px;
    display: block;

    position: absolute;
    left: 85px;
    top: 11px;
}

.search-container > .login {
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;

    position: absolute;
    top: 0;
    right: 10px;
}

/*banner部分*/
.jd-banner {
    background-color: #ffbd94;
    position: relative;
}

.banner-container {
    overflow: hidden;
}

.banner-container > ul.banner-content {
    width: 800%;
}

.banner-container > ul.banner-content > li {
    display: block;
    width: 12.5%;
    float: left;
}

.banner-container > ul.banner-content > li > a > img {
    display: block;
    width: 100%;
}

.banner-container > ul.banner-tag {
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -54px;
}

.banner-container > ul.banner-tag > li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.banner-container > ul.banner-tag > li + li {
    margin-left: 4px;
}

/*导航栏部分*/
.jd-bar {
    width: 100%;
    height: 150px;
    /*padding-top: 10px;*/
    padding: 10px 3.125% 0;
    border-bottom: 1px solid #c1c1c1;
    background-color: #fff;
}

.jd-bar > .bar-container {
    width: 100%;
    height: 100%;
}

.jd-bar > .bar-container > ul {
    width: 100%;
    height: 100%;
}

.jd-bar > .bar-container > ul > li {
    float: left;
    width: 25%;
    height: 69px;
}

.jd-bar > .bar-container > ul > li > a > img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;

}

.jd-bar > .bar-container > ul > li > a > p {
    text-align: center;
    font-size: 12px;
    margin-top: 4px;
}

/*产品部分*/

.product-box {
    box-shadow: 0 0 1px 1px #e0e0e0;
    background-color: #fff;
    margin: 8px 5px 0px;
    position: relative;
}

.product-box > .product-title {
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.product-box > .product-title > h3 {
    float: left;

    color: #666666;
    padding-left: 16px;
    font: 400 14px/40px "微软雅黑";
}

.product-box > .product-title > h3::before {
    content: "";
    display: block;
    width: 4px;
    height: 18px;
    background-color: #ff4f12;
    position: absolute;
    left: 6px;
    top: 12px;
}

.product-box > .product-title > h5 {
    float: left;

    color: #ff4f12;
    padding-left: 28px;
    font: 400 14px/40px "微软雅黑";
}

.product-box > .product-title > h5::before {
    content: "";
    display: block;
    width: 16px;
    height: 20px;
    background: url(../img/seckill-icon.png) no-repeat;
    background-size: 16px 20px;
    position: absolute;
    left: 6px;
    top: 10px;
}

.product-box > .product-title.no-bottom-border {
    border: 0;
}

/*-----》掌上秒杀*/
.second-kil-time {
    font: 400 14px/40px "微软雅黑";
    position: absolute;
    left: 94px;
    top: 0px;
}

.second-kil-time > .value {
    background-color: #e1e1e1;
    padding: 0px 3px;
}

.second-kill-more {
    float: right;
    padding-right: 8px;
    font: 400 14px/40px "微软雅黑";
}

.second-kill-more span {
    font: 400 16px/40px "宋体";
    margin-left: 4px;
}

.second-kill-content {
    padding: 8px 0;
}

.second-kill-content > ul > li {
    float: left;
    display: block;
    width: 33.3%;
}

.second-kill-content > ul > li + li > a div.second-kil-content-img {
    border-left: #e1e1e1 solid 1px;
    display: block;
}

.second-kill-content > ul > li > a img {
    width: 64%;
    display: block;
    margin: 0 auto;
}

.second-kill-content > ul > li > a p {
    text-align: center;
    font: 400 12px/12px "微软雅黑";
}

.second-kill-content > ul > li > a p.now-price {
    margin-top: 8px;
    color: #ff4f12;
}

.second-kill-content > ul > li > a p.old-price {
    text-decoration: line-through;
    color: #888888;
    margin-top: 4px;
}

/*超值购*/
.bargain-buy-left, .bargain-buy-right, .hot-active-left, .hot-active-right {
    width: 50%;
}

.bargain-buy-left img, .bargain-buy-right img, .hot-active-left img, .hot-active-right img {
    width: 100%;
}

.bargain-buy-left img {
    border-right: #e1e1e1 1px solid;
}
.hot-active-right img{
    border-left: #e1e1e1 1px solid;
}
.bargain-buy-right.bargain-buy-rb img, .hot-active-left.hot-active-lb img {
    border-top: #e1e1e1 1px solid;
}